* {
    margin: 0;
    padding: 0;
    border: 0;
}
.body {
    background-color: #eee;
}

.flashcard {
    border: 1px solid #000;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 200px;
    margin: 10px;
    display: inline-block;

}
.front {
    display:block;
    margin: 10px;

}

.back {
    display:none;
    margin: 10px;
}